/*.header {
  background-color: black;
}


.navbar{
	background-color: black;
}*/

/*div.container{
	background-color: black;
}*/
.flex-wrapper-info{
	display: flex;
	flex-direction:column;
	margin:0 auto;
	width:800px;
}



.row {
	text-align: center;
}

.flex-wrapper img{
/*	border-radius:100%;*/
}

.flex-wrapper div{
}

/*footer{
	display:flex;
}*/
