#title {
  font-size: 35px;
}

.flex-wrapper-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 800px;
}

.row {
  text-align: center;
}

.form-control {
  width: 30%;
  margin: auto;
}

h1 {
  text-align: center;
}

#holder {
  width: 50%;
  margin: auto;
}

.questions-no-duplicate {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.javascript-documentation {
  display: flex;
}

#javadocs {
  width: 80%;
}

.ul-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 5px solid black;
}

.documentation-title {
  font-size: 12pt;
  text-decoration: underline;
}
.aboutCols {
  box-shadow: 0px 0px 0px #888888;
}
.aboutCols:hover {
  box-shadow: 0px 20px 10px #888888;
}


li {
/*  list-style: none;*/
}

.flex-wrapper-no-duplicate{
	display: flex;
	max-width: 1000px;

}

#resource-column{
	flex:1
}

/*#question-column {
	display:flex;
}*/
